<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Página de Hello</title>
    </head>
    <body>
        <h1>Bem Vindo !</h1>
        <p>Fazer <a th:href="@{/cadastro}">Cadastro</a>.</p>
        <p>Fazer <a th:href="@{/prontuario}">Prontuario</a>.</p>
        <p>Fazer <a th:href="@{/agendamento}">Agendamento</a>.</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>
